@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    min-height: 100%;
}

body{
    font-family: "Tilt Neon", sans-serif;
    background-color: #94a684;
    line-height: 1.5;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

h3{
    color: 	#fff;
    text-align: center;
    font-size: 30px;
}
.central{
    padding: 50px;
    max-width: 1300px;
    margin: 0 auto;
    border-radius: 10px;
}

.dashboard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.dash{
    background-color: #e4e4d0;
    padding: 20px;
    /*max-width: 300px;*/
    margin: 10px;
    border-radius: 10px;
    box-shadow: 8px 8px 5px #444;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "title title"
        "content content";
    gap: 10px;
    flex: calc(33% - 20px);
    box-sizing: border-box;
    width: 700px;
    height: 450px;
    overflow: auto;
}

.dash h4{
    font-size: 22px;
    grid-area: title;
    text-align: center;
    /*margin-bottom: -10px;*/
}

.dash ul{
    list-style: none;
    padding: 0;
    grid-area: content;
    display: grid;
    gap: 10px;
}

.dash li{
    display: flex;
    align-items: center;
    gap: 10px;
}

.dash img{
    width: 80px;
    height: auto;
    border: 5px ridge #000;
    padding: 1px;
    box-shadow: 8px 8px 5px #444;
}

.dash p{
    font: small-caps 16px sans-serif;
}

.dash .bi{
    margin-right: -10px;
    width: 24px;
    height: 24px;
    bottom: -2px;
}


.back{
    text-decoration: none;
    color: #fff;
    background-color: #FFCBDB;
    padding: 10px;
    border-radius: 10px;
}

.sessao{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
}
.user{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
.btnBye{
    background-color: #FFCBDB;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: medium;
    font-family: "Tilt Neon", sans-serif;
    border-radius: 10px;
}
.btnDel{
    border: none;
    background-color: #e4e4d0;
    cursor: pointer;
    position: relative;
}


/*rodapé*/
.footer{
    margin-top: auto;
}
.foot{
    padding: 10px 0px;
    background-color: #AEC3AE;
    margin-bottom: 0;
}
.foot p{
    font-size: 20px;
    color: #fff;
    margin-left: 35px;
}

/* menu toggle*/

#menuToggle {
    display: block;
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a{
    text-decoration: none;
    color: #005c49;
    transition: color 0.3s ease;
}

#menuToggle a:hover{
    color: #0d7e65; 
}

#menuToggle input{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;

    -webkit-touch-callout: none;
}

#menuToggle span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #005c49;
    border-radius: 3px;
    z-index: 1;

    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2){
    transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #005c49; 
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu{
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    background: #ffcbdbb2; /*#ede*/
    list-style-type: none;
    
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li{
    padding: 10px 0;
    font-size: 22px;
}
/*classe pular - para ter um espaço entre o X e as páginas na lista*/
.pular{
    margin-top: 50px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}
/* Fim do menu toggle */

/* Media query para dispositivos com largura máxima de 768px (tablet) */
@media only screen and (max-width: 768px) {
    #menuToggle {
        display: block;
        position: relative;
    }
    .sessao{
        position: relative;
    }
    .central {
        padding: 30px; 
        max-width: 100%; 
    }

    /*.dash {
        max-width: 100%; /
        margin: 0 auto 20px; 
        padding: 20px;
    }
    */
    .dash {
        max-width: 90%; 
        margin-right: 0; 
        margin-bottom: 20px; 
        flex: 0 0 100%; 
    }

    .dashboard {
        flex-direction: column; 
    }

    .dash h4 {
        font-size: 18px; 
    }

    ul li img {
        width: 100px; 
        margin-top: 20px;
    }

    .lidos p,
    .lendo p,
    .listaDesejo p {
        font-size: 14px; 
    }

    .back {
        font-size: 16px; 
    }
}

/* Media query para dispositivos com largura máxima de 480px (celular) */
@media only screen and (max-width: 480px) {
    .central {
        padding: 20px;
    }

    .dash {
        padding: 10px; 
    }

    .dash h4 {
        font-size: 16px; 
    }

    ul li img {
        width: 80px; 
        margin-top: 10px; 
    }

    .lidos p,
    .lendo p,
    .listaDesejo p {
        font-size: 12px;
    }

    .back {
        font-size: 14px; 
    }
}
